body {
    background-color: #000;
    color: rgb(17, 212, 34);
    background-image: url("../images/Marvel_Heroes_Key_Art.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 2em;
}

header {
    text-align: center;
}

.body-content {
    margin: 0 auto;
    border: 5px dotted #fff;
    width: max-content;
    height: max-content;
    margin-top: 30px;
}

.dotted-box {
    text-align: center;
    padding: 20px;
}


#newGameButton {
    background-color: rgb(17, 212, 34);
}
